@import models.files.RepoFile
@import models.files.TypeFile
@(username: String, projectname: String, path:String, fileForm: Form[RepoFile])

@import helper._
@implicitField = @{
    FieldConstructor(fieldConstructorTemplate.f)
}
@main("New File") {
    <h4 class="center-align">New Folder</h4>
    @form(action = routes.FilesController.saveDir(username, projectname, path)) {
        @CSRF.formField
        <div class="row">
            <div class="col s6 offset-s3">
                @infoBox(fileForm.allErrors())

                @inputText(fileForm("name"))

                <div class="center-align">
                    <button class="btn waves-effect ">Create</button>
                    <a class="waves-effect waves-light waves-teal btn-flat btn-cancel"
                        href="@routes.FilesController.showDir(username, projectname, path)" type="button">Cancel</a>
                </div>

            </div>
        </div>
    }
}