@()

@main("SimplyFire") {
  <h4 class="center-align">Welcome to SimplyFire!</h4>
  <div class="col s9">
    <div id="markdown-body" class="card-panel markdown-body">
      <h3>Добро пожаловать</h3>
      <p>Вы находитесь на сайте, позволяющем работать с любыми типами ваших файлов, которые вам необходимо где-то хранить. Другими словами, перед вами репозиторий файлов, который предоставляет следующие возможности:</p>
      <h4>1. Регистрация пользователя</h4>
      <p>Все файлы, которые вы храните в репозитории, доступны только для вас. Без вашего ведома другие пользователи не смогут получить доступ к ним.</p>
      <h4>2. Создание проектов</h4>
      <p>Каждый ваш файл относится к отдельному, созданному вами, проекту. Таким образом, вы можете организовать свою работу с несвязанными между собой файлами в различных проектах.</p>
      <h4>3. Создание папок в проекте</h4>
      <p>Для того чтобы структурировать ваши файлы в одном выбранном проекте, вы можете создавать отдельные папки и загружать файлы уже в них. Создание вложенных папок также поддерживается.</p>
      <h4>4. Работа с файлами</h4>
      <p>Вы можете загружать любой ваш файл в репозиторий, а также скачивать его в любой момент. Загруженные файлы можно удалять.</p>
      <h4>5. Версионирование файлов</h4>
      <p>Помимо обычной загрузки файлов вам также доступна функция загрузки новой версии для уже существующего файла. В любой момент вы можете скачать или последнюю версию файла, или выбранную вами.</p>
    </div>
  </div>
}
