@import models.feedback.Feedback
@(feedbackForm: Form[Feedback])

@import helper._
@implicitField = @{
    FieldConstructor(fieldConstructorTemplate.f)
}
@main("Feedback") {
    <h4 class="center-align">Feedback</h4>
    @form(routes.FeedbackController.save()) {
        @CSRF.formField
        <div class="row">
            <div class="col s6 offset-s3">
                @infoBox(feedbackForm.allErrors())

                @inputText(feedbackForm("theme"), '_label -> "Title")

                @input(feedbackForm("content"), '_label -> "Text") { (id, name, value, args) =>
                    <textarea id="@id" name="@name" class="materialize-textarea"></textarea>
                }

                <div class="center-align">
                    <button class="btn waves-effect waves-light" type="submit">Send</button>
                    <button class="waves-effect waves-light waves-teal btn-flat btn-cancel" onclick="window.history.back();" type="button">Cancel</button>
                </div>
            </div>
        </div>
    }
}